@import "tailwindcss";

/* ===== Smooth Scroll + Hide Scrollbar ===== */
html {
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari */
html::-webkit-scrollbar {
	display: none;
}

/* ===== Optional: body reset ===== */
body {
	margin: 0;
	padding: 0;
}

/* ===== Wave Animation ===== */
@keyframes wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-6px);
	}
}

.animate-wave {
	animation: wave 2.8s ease-in-out infinite;
}